.container {
  max-width: 800px;
}

.list-group-item {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.disabled-row {
  background-color: #f2f2f2;
  pointer-events: none;
}

.disabled-row button {
  background-color: #cccccc;
  border: 1px solid #999999;
  cursor: not-allowed;
}

